<!DOCTYPE html>
<html lang="en">
<head>
    <title>Store</title>
    <link  rel="stylesheet" href="home.css"/>
</head>
<body>
    <div>
        <div class="login-block">
            <div>
                <a href="/home/authorization">Регистрация</a>
            </div>
           <div>
                <a href="/home/signin">Войти</a>
           </div>
        </div>
        
        <div class="cards">
        {{range .Products}}
        <div class="card">
            <div>
                Товар :  {{.Name}}
            </div>
            <div>
                Цена : {{.Price}}
            </div>
            <div>
                Рейтинг:{{.Rating}}
            </div>
        </div>
        
        {{end}}
        </div>
    </div>
</body>
</html>

